
body{
    background-color:  grey;

}
.container{
    font-family: 'Lobster', cursive;
    line-height: 2rem;
    font-size: 8rem;
    text-shadow: 5px 0  black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: aqua;
}

.boom{
    display: inline-block;

}
.row{
    text-align: center;
}
img{
    margin:  0 20px 0 20px;
}
p{
    font-family: 'Lobster', cursive;
    line-height: 2rem;
    font-size: 4rem;
    
    
    color: rgb(4, 0, 255);
}
footer{
    text-align: center;
    margin-top: 20px;
    color: blanchedalmond;
}